@import "generic/variables";
@import "generic/mixins--base";

.state-select-wrap {
  select {
    padding-right: 10px;
    background: #fff;
  }
}

.state-list-ul {
  @include float-clear;
  li {
    float: left;
    width: 25%;
  }
  @media all and (max-width: 1100px){
    li {
      float: left;
      width: 50%;
    }
  }
  @media all and (max-width: $desktop){
    li {
      float: left;
      width: (100%/3);
    }
  }
  @media all and (max-width: $tablet-sm){
    li {
      float: left;
      width: 50%;
    }
  }
}

@media all and (max-width: $desktop-lg){
  .dl-menuwrapper .dl-menu {
    li,
    a {
      height: 0;
    }
    &.dl-menuopen {
      li,
      a {
        height: auto;
      }
    }
  }
}