@font-face{ 
  font-family: 'Stateface';
  src: url('../fonts/stateface-regular-webfont.eot');
  src: url('../fonts/stateface-regular-webfont.eot?iefix') format('embedded-opentype'),
       url('../fonts/stateface-regular-webfont.woff') format('woff'),
       url('../fonts/stateface-regular-webfont.ttf') format('truetype'),
       url('../fonts/stateface-regular-webfont.svg#svgStateFace') format('svg');
  font-weight: normal;
  font-style: normal;
}

.has-state {
  position: relative;
  &:after {
    position: absolute;
    top: -4px;
    right: 0;
    font-family: 'Stateface', sans-serif;
    color: #fbdcea;
    font-size: 72px;
    font-size: 4.5rem;
  }
}

.state-ak:after{
  content: 'A';
}
.state-al:after{
  content: 'B';
}
.state-ar:after{
  content: 'C';
}
.state-az:after{
  content: 'D';
}
.state-ca:after{
  content: 'E';
}
.state-co:after{
  content: 'F';
}
.state-ct:after{
  content: 'G';
}
.state-de:after{
  content: 'H';
}
.state-fl:after{
  content: 'I';
}
.state-ga:after{
  content: 'J';
}
.state-hi:after{
  content: 'K';
}
.state-id:after{
  content: 'M';
}
.state-ia:after{
  content: 'L';
}
.state-il:after{
  content: 'N';
}
.state-in:after{
  content: 'O';
}
.state-ks:after{
  content: 'P';
}
.state-ky:after{
  content: 'Q';
}
.state-la:after{
  content: 'R';
}
.state-ma:after{
  content: 'S';
}
.state-md:after{
  content: 'T';
}
.state-me:after{
  content: 'U';
}
.state-mi:after{
  content: 'V';
}
.state-mn:after{
  content: 'W';
}
.state-mo:after{
  content: 'X';
}
.state-ms:after{
  content: 'Y';
}
.state-mt:after{
  content: 'Z';
}
.state-nc:after{
  content: 'a';
}
.state-nd:after{
  content: 'b';
}
.state-ne:after{
  content: 'c';
}
.state-nh:after{
  content: 'd';
}
.state-nj:after{
  content: 'e';
}
.state-nm:after{
  content: 'f';
}
.state-nv:after{
  content: 'g';
}
.state-ny:after{
  content: 'h';
}
.state-oh:after{
  content: 'i';
}
.state-ok:after{
  content: 'j';
}
.state-or:after{
  content: 'k';
}
.state-pa:after{
  content: 'l';
}
.state-ri:after{
  content: 'm';
}
.state-sd:after{
  content: 'o';
}
.state-sc:after{
  content: 'n';
}
.state-tn:after{
  content: 'p';
}
.state-tx:after{
  content: 'q';
}
.state-ut:after{
  content: 'r';
}
.state-va:after{
  content: 's';
}
.state-vt:after{
  content: 't';
}
.state-wa:after{
  content: 'u';
}
.state-wi:after{
  content: 'v';
}
.state-wv:after{
  content: 'w';
}
.state-wy:after{
  content: 'x';
}