/******** Utility Classes ********/


/* Margins */
.no-margin {
  margin: 0 !important;
}
.no-margin-top {
  margin-top: 0;
}
%box-margin, .box-margin {
  margin: $margin 0;
}
%box-margin-large, .box-margin-large {
   margin: ($margin * 2) 0;
}
%box-margin-small, .box-margin-small {
  margin: ($margin/2) 0;
}

/* Padding */
%box-padding, .box-padding {
  padding: $margin 0;
}
%box-padding-small, .box-padding-small {
  padding: ($margin/2) 0;
}

/* Positioning */
%align-right, .align-right {
  text-align: right;
}
%align-left, .align-left {
  text-align: left;
}
%align-center, .align-center {
  text-align: center;
}
%left-inline, .left-inline {
  float: left; 
  display: inline; 
}
%left-block, .left-block {
  float: left; 
  display: block; 
}
%left-inline-block, .left-inline-block {
  float: left; 
  display: inline-block; 
}
%right-inline, .right-inline {
  float: right; 
  display: inline; 
}
%right-block, .right-block {
  float: right; 
  display: block; 
}
%right-inline-block, .right-inline-block {
  float: right; 
  display: inline-block; 
}
.display-block {
  display: block !important;
}
%float-clear, .float-clear {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

/* Image */
%full-block-image, .full-block-image {
  width: 100%;
  display: block;
}

/* Links */
.no-underline {
  text-decoration: none;
}
%plain-link, .plain-link {
  text-decoration: none; 
  color: inherit; 
}
%image-only-link, .image-only-link {
  text-decoration: none; 
  text-indent: -10000px; 
}

/* Underline */
.heavy-pink-underline {
  border-bottom: $heavy-pink-border;
}

/* Menu Stuff */
%child-menu, .child-menu {
  height: 0px; 
  overflow: hidden; 
  position: absolute; 
  z-index: 2; 
  &:hover, &:focus {
    visibility: visible; 
  }
  li, a {
    float: left; 
  } 
  a {
    width: 100%; 
  }
  @media all and (max-width: $desktop-lg) {
    height: auto;
    overflow: visible;
  }
}

/* Sprites */
%sprite-right, .sprite-right {
  &:before {
    position: absolute;
    right: 10px; 
    display: inline-block; 
  }
}

/* Hide */
.visually-hidden {
  @include visually-hidden;
}

%toggle-opacity{
  opacity: 0; 
  transition: opacity 0.2s ease-out; 
  &.show{
    opacity: 1; 
  }
}

%toggle-max-height{
  max-height: 0px; 
  overflow: hidden; 
  &.show{
    max-height: none; 
  }
}

%toggle-display{ 
  display: none; 
  &.show{
    display: inline; 
  }
}

/* Box Shadow Stuff */
%dark-box-shadow {
  box-shadow: 0 5px 10px rgba(0,0,0,.25);
}

/* Pseudo elements */
%has-before {
  position: relative;
  &:before {
    content: '';
    position: absolute;
  }
}
%has-after {
  position: relative;
  &:after {
    content: '';
    position: absolute;
  }
}
