/* Fonts */
%arial {
  font-family: Arial,Helvetica,sans-serif; 
}

%rs100, .rs100 {
  font-family: $roboto-slab; 
  font-weight: 100; 
}

%rs300, .rs300 {
  font-family: $roboto-slab; 
  font-weight: 300; 
}

%rs400, .rs400 {
  font-family: $roboto-slab; 
  font-weight: 400; 
}

%rs700, .rs700 {
  font-family: $roboto-slab; 
  font-weight: 700; 
}

%rc200, .rc200 {
  font-family: $roboto-condensed; 
  font-weight: 200; 
}

%rc300, .rc300 {
  font-family: $roboto-condensed; 
  font-weight: 300; 
}

%rc400, .rc400 {
  font-family: $roboto-condensed; 
  font-weight: 400; 
}

%rc400-italic, .rc400-italic {
  font-family: $roboto-condensed; 
  font-style: italic;
  font-weight: 400; 
}

%rc700, .rc700 {
  font-family: $roboto-condensed; 
  font-weight: 700; 
}