.select-wrap {
  @include box-sizing(border-box);
  background-color: $default-input-background;
  padding: 0;
  position: relative;
  z-index: 1;
  select {
    cursor: pointer;
    box-shadow: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  &:before {
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -4px;
    border-left: 5px solid transparent ;
    border-right: 5px solid transparent ;
    border-top: 9px solid $almost-black;
    pointer-events: none;
  }
  &:after {
    @include border-radius(3px);
    content: '';
    display: block;
    z-index: -2;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 25px;
    height: calc(100% - 2px);
    background: $default-input-background;
    pointer-events: none;
  }
}
// FF select fix
:-moz-any(.select-wrap){
  &:before {
    background-color: $default-input-background;
    pointer-events: none; 
    z-index: 1;
  }
  &:after {
    z-index: 0;
  }
}
//IE 10+ select fix
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .select-wrap select::-ms-expand {
    display: none;
  }
}

.state-select-wrap {
  @include getSprite($common-icons, select-arrow);
  @include background-image(linear-gradient(#fff, #c0c0c0));
  display: none;
  padding: 0;
  margin: ($margin/2) 0 $margin;
  position: relative;
  width: 100%;
  z-index: 1;
  select  {
    @include remFallback(font-size, 1.4);
    @include border-radius(6px);
    padding: 8px ($select-arrow-height + 10px) 8px 8px;
    cursor: pointer;
    height: $select-arrow-height;
    width: 100%;
    box-shadow: none;
    background: transparent;
    border: 1px solid #898989;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    &:focus, &:active {
      outline: none;
    }
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    height: $select-arrow-height;
    width: $select-arrow-width;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #fff;
    background-repeat: no-repeat;
  }
  .no-cssgradients & {
    background: url(images/select-gradient.jpg);
  }
}

// FF select fix
:-moz-any(.state-select-wrap):before {
  background-color: #fff;
  pointer-events: none; 
  z-index: 1;
}

//IE 10+ select fix
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .state-select-wrap select::-ms-expand {
    display: none;
  }
}