/* =============================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid $bright-blue;
    padding: 10px 20px 20px;
    margin: 0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
    color: $bright-blue;
    text-transform: uppercase;
    font-weight: bold;
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    margin-right: 5px;
    cursor: pointer;
    & + label {
        margin-right: 10px;
    }
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Form Styling
 * 
 */

.plain-fieldset {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0;
  border: none;
  width: 100%;
}

.plain-legend {
    @extend .h2;
    text-transform: none;
    .grid-container & {
      margin: 0 5px;
    }
}

label {
  display: block;
  color: $dark-blue;
  font-family: $roboto-slab;
}

textarea {
  min-height: 130px;
}

select,
input[type="text"]{
  height: 1.625em;
}

select,
textarea,
input[type="text"] {
	margin: 0;
	padding: 3px 5px;
}

select,
textarea,
input[type="text"] {
  @include border-radius(4px);
  background-color: $default-input-background;
  border: 1px solid $default-input-border; 
  color: $almost-black;
  width: 100%;
  &:focus, &:active {
    outline: none;
    border-color: $med-gray;
  }
}

.small-textarea {
  min-height: 100px;
  max-width: 500px;
}

.check-radio-blocks {
  margin-top: -15px;
  margin-bottom: -15px;
}

.check-radio-block {
  margin: 15px 0;
  width: 166px;
  display: inline-block;
}

.check-radio-items {
  @extend %float-clear;
  margin-top: 10px
}

.check-radio-item {
  float: left;
  clear: both;
  margin-bottom: 8px;
  &:last-of-type {
    margin-bottom: 0;
  }
  label {
    display: inline;
    cursor: pointer;
    font-family: $sans-serif;
    color: $almost-black;
  }
}


/* Form Grid */
form {
  .full,
  .half,
  .third, 
  .fourth {
    margin-top: 15px;
  }
}

.mini-form {
  .full,
  .half,
  .third, 
  .fourth {
    margin-top: 10px;
  }
}

@media all and (max-width: $desktop-xl) {
  form {
    .half {
      width: 100%;
    }
    .fourth,
    .third {
      width: 50%;
    }
  }
  .mini-form{
    .half {
      width: 50%;
    }
    .fourth {
      width: 25%
    }
    .third {
      width: (100%/3);
    }
  } 
}


@media all and (min-width: ($tablet + 1px)) and (max-width: $desktop){
  .mini-form {
    .half {
      width: 100%;
    }
    .fourth {
      width: 50%;
    }
  }
}

@media all and (max-width: $tablet-sm) {
  form {
    .fourth, .third {
      width: 100%;
    }
  }
  .mini-form {
    .fourth {
      width: 25%
    }
    .third {
      width: (100%/3);
    }
  } 
}

@media all and (max-width: $mobile) {
  .mini-form {
    .half {
      width: 100%;
    }
    .fourth {
      width: 50%;
    }
  }
}

/* Other */
%input-button-pair,
.input-button-pair  {
  @extend %float-clear;
  button, a  {
    width: 40%;
    float: left;
  }
  input  {
    width: 60%;
    float: left;
  }
}
