﻿.standard-fieldset{
    margin-top: 8px;
}

.standard-legend
{
  @include remFallback(font-size, 1.25);
    color: $dark-pink;
    line-height: 1.2;
}

.field-validation-error
{
    color: $error-red;
}