/* =============================================================================
   Global
   ========================================================================== */

* {
	@include border-box; 
}

html {
  @include remFallback(font-size, 1);
	// font smoothing - fixes light text on dark bg
	-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body  {
  font-family: $sans-serif;
}

.main iframe{
	min-width: 100%; 
	max-width: 100%; 
	margin: $margin 0; 
	min-height: 300px; 
}