$gird-spacing: 5px;

%grid-container,
.grid-container {
  margin-left: (-$gird-spacing);
  margin-right: (-$gird-spacing);
  @extend %float-clear;
}

.third,
.fourth,
.half,
.two-third,
.fifth,
.two-fifth,
.three-fifth,
.full {
  padding: 0 $gird-spacing;
  float: left;
}

%third,
.third {
  width: (100%/3);
}
%fourth,
.fourth {
  width: (100%/4);
}
%half,
.half {
  width: (100%/2);
}
%two-third,
.two-third {
  width: (100%/3) * 2;
}
%three-fourth,
.three-fourth {
  width: (100%/4) * 3;
}
%fifth,
.fifth {
  width: (100%/5);
}
%two-fifth,
.two-fifth {
  width: (100%/5) * 2;
}
%three-fifth,
.three-fifth {
  width: (100%/5) * 3;
}
%full,
.full {
  width: 100%;
}