.main-content-ppc {
  @extend %main-content-base;
  @media all and (max-width: $desktop) {
    margin-right: -$sidebar-width-ppc - ($main-container-space/2);
  }
  @media all and (max-width: $tablet) {
    margin-right: 0;
  }
}

.main-content-inside-ppc {
  @extend %main-content-inside-base;
  @media all and (max-width: $desktop) {
    margin-right: $sidebar-width-ppc + ($main-container-space/2);
  }
  @media all and (max-width: $tablet) {
    margin-right: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

.sidebar-content-ppc {
  @extend %sidebar-content-base;
  @media all and (max-width: $desktop) {
    width: $sidebar-width-ppc + ($main-container-space/2);
    padding-left: ($main-container-space/2);
  }
  @media all and (max-width: $tablet) {
   width: 100%;
   padding-left: 0; 
   padding-right: 0;
  }
}

.main-image-ppc {
  @extend %main-image-base;
  @media all and (max-width: $desktop) {
    margin-right: -($sidebar-width-ppc + ($main-container-space/2));
  }
  @media all and (max-width: $tablet) {
    margin-right: 0;
  }
  @media all and (max-width: $mobile-lg) {
    img {
      display: none;
    }
  }
}

.ppc-divider {
  display: none;
  @media all and (max-width: $mobile-lg) {
    display: block;
    border: none;
    background: $child-nav-border;
    height: 1px;
    width: 100%;
    margin: 15px 0;
  }
}