
%main-content-base {
  width: 100%;
  margin-right: -$sidebar-width - $main-container-space;
  float: left;
  @media all and (max-width: $desktop-lg) {
    margin-right: -$sidebar-width - ($main-container-space/2);
  }
}

%main-content-inside-base {
  margin-right: $sidebar-width + $main-container-space;
  @media all and (max-width: $desktop-lg) {
    margin-right: $sidebar-width + ($main-container-space/2);
  }
}

%sidebar-content-base {
  width: $sidebar-width + $main-container-space;
  padding-left: $main-container-space;
  padding-right: ($margin/2);
  float: right;
  @media all and (max-width: $desktop-lg) {
    width: $sidebar-width + ($main-container-space/2);
    padding-left: ($main-container-space/2);
  }
}

%main-image-base {
  margin-right: -($sidebar-width + $main-container-space);
  position: relative;
  img {
    max-width: 100%;
    overflow: hidden;
    border: 1px solid $main-image-border;
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative; 
    z-index: -1; 
  }
  @media all and (max-width: $desktop-lg) {
    margin-right: -($sidebar-width + ($main-container-space/2));
  }
}
 