.container {
  max-width: $max-width; 
  padding: 0 $main-container-space;
  margin: 0 auto;
  @extend %float-clear;
  position: relative;
}

.mini-container {
  max-width: 600px;
}

.inner-no-padding {
  max-width: $max-width; 
  margin: 0 auto; 
}

.top {
  position: relative; 
}

.main-content {
  @extend %main-content-base;
  @media all and (max-width: $desktop) {
    margin-right: 0;
  }
}

.main-content-inside {
  @extend %main-content-inside-base;
  @media all and (max-width: $desktop) {
    margin-right: 0;
  }
}

.sidebar-content {
  @extend %sidebar-content-base;
  @media all and (max-width: $desktop) {
   width: 100%;
   padding-left: 0; 
   padding-right: 0;
  }
}

.main-image {
  @extend %main-image-base;
  @media all and (max-width: $desktop) {
    margin-right: 0;
  }
  @media all and (max-width: $tablet) {
    @include visually-hidden;
  }
}

.fixed-size-image {
  width: 300px;
  height: 350px;
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

@media all and (max-width: $desktop) {
  .sidebar-half-container {
    @include float-clear;
  }
  %sidebar-halves {
    width: 50% !important;
    float: left;
    > div {
      margin: 0;
    }
  }
  .sidebar-left-half {
    @extend %sidebar-halves;
    padding-right: 5px;
  }
  .sidebar-right-half {
    @extend %sidebar-halves;
    padding-left: 5px;
  }
}

@media all and (max-width: $mobile-lg) {
  .sidebar-left-half,
  .sidebar-right-half {
    width: 100% !important;
    float: none;
    padding-left: 0;
    padding-right: 0;
  }
  .sidebar-right-half {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}