/**
 * Remove the gray background color from active links in IE 10.
 */

a  {
  background: transparent;
  color: $dark-pink;
  &:hover, &:focus, &:active  {
    color: $dark-border-pink;
    text-decoration: none;
  }
}

.link-on-dark  {
  color: white;
  &:hover, &:focus, &:active  {
    color: $light-pink;
  }
}

%has-triangle,
.has-triangle  {
  @extend %has-after;
  padding-right: 15px;
  &:after  {
    top: 3px;
    right: 0;
    border-left: 9px solid $dark-pink;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
  }
}

%has-small-down-triangle,
.has-small-down-triangle  {
  @extend %has-after;
  padding-right: 15px;
  &:after  {
    top: 7px;
    right: 0;
    border-top: 9px solid $dark-pink;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
}

%feature-link,
.feature-link {
  @extend %has-triangle;
  @extend %rs400;
  @include remFallback(font-size, 1.125);
  text-decoration: none;
  &:after {
    top: 8px;
  }
}


/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus  {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover  {
    outline: 0;
}

.breadcrumb {
  margin-top: $margin;
  color: $almost-black;
  @include remFallback(font-size, 0.8);
  a {
    color: $almost-black;
    text-decoration: none;
    &:not(:first-of-type):before {
      content: ">"; 
      margin: 0 5px; 
    }
    &:last-of-type {
      pointer-events: none;
      cursor: default;
    }
  }
}

.breadcrumb-gt {
  display: inline-block;
  margin: 0 5px;
}