/* =============================================================================
   Lists
   ========================================================================== */

.plain-list,
%plain-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

.state-list-ul {
  @extend %plain-list;
  @include columns(4);
  li {
    display: block;
    padding: 10px;
  }
  a {
    color: $almost-black;
    text-decoration: none;
    &:hover, &:focus, &:active {
      color: $dark-pink;
    }
  }
  .no-csscolumns & {
    @include float-clear;
    li {
      float: left;
      width: 25%;
    }
    li:nth-child(4n + 5) {
      clear: both;
    }
  }
}

.single-char-list {
  @extend %plain-list;
  @include border-radius(6px);
  background: $pink-white;
  border: $divider-border;
  text-align: center;
  padding: 8px 0;
  li {
    display: inline-block;
    margin-right: -4px;
    &:after {
      content: '|';
      @include remFallback(font-size, 0.9375);
      position: relative;
      top: -2px;
      color: $med-gray;
    }
  }
  li:last-of-type {
    margin: 0;
    &:after {
      content: none;
    }
  }
  a {
    @include remFallback(font-size, 1.125);
    display: inline-block;
    font-family: $roboto-slab;
    text-decoration: none;
    padding: 0 7px;
    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }

  @media all and (max-width: 1280px) {
    a {
      padding: 0 4px;
    }
  }

  @media all and (max-width: 1130px) {
    border: none;
    background: transparent;
    margin: 0 auto;
    max-width: 525px;
    li {
      margin: 5px 2px;
      &:after {
        content: none;
      }
    }
    a {
      @include remFallback(font-size, 1.375);
      @include border-radius(4px);
      border: $divider-border;
      background: $pink-white;
      padding: 6px 0;
      width: 40px;
      &:hover, &:focus, &:active {
        background: $light-gray;
      }
    }
  }

  @media all and (max-width: $desktop) {
    max-width: 620px;
  }

  @media all and (max-width: 755px) {
    max-width: 525px;
  }
}