/* =============================================================================
   Sprites
   ========================================================================== */
.base-sprite, %base-sprite {
	position: relative; 
	&:before {
		display: block;
		content: '';
		position: relative; 
	}
}

.sprite-right, %sprite-right {
	&:before {
		position: absolute; 
		right: 10px; 
		display: inline-block; 
	}
}

/* Common Icons */ 
@include generateSprites($common-icons); 
@include generateSprites($menu-icons); 
