.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("images/svg-sprites/svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 2.9em 24.4em;
}

.no-svg .icon:before {
    background-image: url("images/svg-sprites/svg/sprite.png");
}

.icon-blg-lg:before {
    background-position: 0em 0em;
    width: 2.7em;
    height: 1.6em;
}

.icon-blg-sm:before {
    background-position: 0em -1.6em;
    width: 1.8em;
    height: 1.1em;
}

.icon-fb-lg:before {
    background-position: 0em -2.7em;
    width: 1.2em;
    height: 2.4em;
}

.icon-fb-sm:before {
    background-position: 0em -5.1em;
    width: 0.8em;
    height: 1.7em;
}

.icon-fb-thumb:before {
    background-position: 0em -6.8em;
    width: 1.6800000000000002em;
    height: 1.5em;
}

.icon-gp-lg:before {
    background-position: 0em -8.3em;
    width: 2.9em;
    height: 2.5em;
}

.icon-gp-sm:before {
    background-position: 0em -10.8em;
    width: 2em;
    height: 1.7em;
}

.icon-pn-lg:before {
    background-position: 0em -12.5em;
    width: 2.1em;
    height: 2.7em;
}

.icon-pn-sm:before {
    background-position: 0em -15.2em;
    width: 1.4em;
    height: 1.8em;
}

.icon-tw-lg:before {
    background-position: 0em -17em;
    width: 2.3em;
    height: 1.9em;
}

.icon-tw-sm:before {
    background-position: 0em -18.9em;
    width: 1.6em;
    height: 1.3em;
}

.icon-yt-lg:before {
    background-position: 0em -20.2em;
    width: 2.1em;
    height: 2.5em;
}

.icon-yt-sm:before {
    background-position: 0em -22.7em;
    width: 1.4em;
    height: 1.7em;
}

