/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;    
    border: 1px solid $light-gray;
}

th {
  font-weight: 700;
  text-align: left;
  background-color: $dark-pink;
  color: #fff;
  border-top: 1px solid darken($dark-pink,10%);
  border-left: 1px solid darken($dark-pink,10%);
  border-right: 1px solid darken($dark-pink,10%);
  border-bottom: 1px solid darken($dark-pink,10%);
}

th,td {
  line-height: 1.2;
}
th {
  padding: 10px;
}
td {
  padding: 5px 10px;
  border: 1px solid $light-gray;
}
tr:nth-child(2n) {
  td {
    background: $pink-white;
  }
}

.city-list { 
  @extend %box-margin;
  position: relative;
  h2 {
    display: inline-block;
    margin: 0;
  }
  .back-link {
    @extend %has-after;
    font-family: $roboto-condensed;
    position: absolute;
    right: 0;
    top: 10px;
    padding-right: 15px;
    &:after {
      bottom: 4px;
      right: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 8px solid $dark-pink;
    }
  }
  table {
    @extend %has-top-border;
    padding: 0;
    margin-top: 3px;
    border: none;
  }
  td {
    border: none;
    padding: 12px;
    line-height: 1.7;
  }
  td:first-of-type {
    padding-left: 5px;
  }
  td:last-of-type {
    padding-right: 5px;
    text-align: right;
  }
  .td-first {
    width: 54%;
  }
  .td-second {
    width: 21%;
  }
  .td-third {
    width: 25%;
  }
  a {
    text-decoration: none;
    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }

  @media all and (max-width: $desktop-lg) {
    table {
      display: block;
    }
    tr {
      display: block;
      width: 100%;
      padding: 12px 5px;
    }
    tr:first-of-type {
      padding-top: 0;
    }
    tr:nth-child(2n) {
      background: $pink-white;
    }
    td {
      display: inline-block;
      padding: 0;
    }
    td:first-of-type {
      padding: 0;
      display: block;
    }
    td:last-of-type {
      padding: 0;
      text-align: left;
    }
    .td-first,
    .td-second,
    .td-third {
      width: auto;
    }
    .td-second {
      margin-right: 15px;
    }
  }
}