/* =============================================================================
   Typography
   ========================================================================== */
p, ul, ol {
  @include remFallback(font-size, 1);
  line-height: 1.4;
  margin: ($margin/2) 0;
 }

h1, h2, h3, h4, h5, h6,
 .h1, .h2, .h3, .h4, .h5, .h6 {
	 color: $dark-pink; 
	 margin: 9px 0px 9px 0px;
   line-height: 1.2;
 }

h2, h3, h4, h5, h6,
.h2, .h3, .h4, .h5, .h6 {
   @extend %rs400;
}

h1, .h1 {
  @include remFallback(font-size, 3.5);
  line-height: 1;
  font-weight: 200;
  @extend %rs100;
 }

h2, .h2 {
  @include remFallback(font-size, 1.625);
 } 

h3, .h3 {
  @include remFallback(font-size, 1.5);
 }

h4, .h4 {
  @include remFallback(font-size, 1.25);
 }

h5, .h5 {
  @include remFallback(font-size, 1.0625);
 }

h6, .h6 {
  @include remFallback(font-size, 1.0625);
 	color: $almost-black; 
 }

.has-review-badge  {
  @extend %has-after;
  padding-right: 139px + 10px; //image width + 10
  &:after {
    content: url(/content/css/images/listen360.png);
    top: 10px;
    right: 0;
  }
 }

.super-coupon-title {
  @include remFallback(font-size, 4.5);
  line-height: 1;
  font-family: $roboto-slab; 
  font-weight: 200;
  sup {
    @include remFallback(font-size, 2.6875);
    position: relative;
    top: -0.5em;
  }
}

// Text adjustments
.line-height-1 {
  line-height: 1;
}

.line-height-1-6 {
  line-height: 1.6;
}

%text-12,
.text-12 {
  @include remFallback(font-size, 0.75);
}

%text-14,
.text-14 {
  @include remFallback(font-size, 0.875);
}

%text-22,
.text-22 {
  @include remFallback(font-size, 1.375);
}

.dark-blue-text {
  color: $dark-blue;
}

.gray-text {
  color: $dark-gray;
}

%small-cond-text,
.small-cond-text {
  @extend %rc300;
  @extend %text-14;
}

.coupon-disclaimer {
  @include remFallback(font-size, 0.75);
  @extend %rc400;
  color: $almost-black;
  margin-top: 5px;
  display: inline-block;
  line-height: 1;
}

// Blockquotes
blockquote {
	@extend %rc300;  
}

%faux-blockquote,
.faux-blockquote {
	@extend %quote-blue-1; 
  @include remFallback(font-size, 1.125);
  padding: $blockquote-padding;
  @include blockquote-pseudo;
}

%faux-blockquote-pink,
.faux-blockquote-pink {
  @extend %faux-blockquote;
  @extend %quote-pink;
}

%faux-blockquote-blue-2,
.faux-blockquote-blue-2 {
  @extend %faux-blockquote;
  @extend %quote-blue-2;
  padding-left: 60px;
}
