/* Mixins */

@mixin border-box {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

@mixin float-clear {
  &:after  {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin remFallback($property, $sizeRem) {
  #{$property}: ($sizeRem * 16) + px;
  #{$property}: ($sizeRem) + rem;
}

@mixin image-replace  {
  display: block;
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;
}

@mixin element-invisible  {
  /* Hide an element, but still have it available for screen readers */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin margin-padding-none { 
	margin: 0; 
	padding: 0; 
}

@mixin visually-hidden  {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin has-top-border {
  padding-top: ($margin/2);
  border-top: $divider-border;
}

@mixin has-top-border-light {
  padding-top: ($margin/2);
  border-top: $divider-border-light;
}

@mixin has-bottom-border {
  padding-bottom: ($margin/2);
  border-bottom: $divider-border;
}


@mixin dynamic-width($num)  {
  width: 100% - ($num); 
	margin: 0 (($num/2)+em);
}

@mixin nested-width($num)  {
  width: 100% - ($num); 
  padding: 1em percentage(($num/2)/100);
}

@mixin ieFilter($image-url)  {
  background-color: transparent;
  background-position: center center; 
  background-image: $image-url;
  background-repeat: no-repeat; 
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=#{$image-url}, sizingMethod='scale');
  zoom: 1;
}

@mixin arrowDown($color) {
    position: relative; 
    &:after {
      top: 100%;
      border: solid transparent; 
      border-top-color: $color; 
      border-width: 8px; 
      border-left-width: 15px; 
      border-right-width: 15px; 
      left: 50%; 
      margin-left: -15px; 
      content: " ";
      height: 0; 
      width: 0; 
      position: absolute; 
    }
}

@mixin block-fade-base() {
  opacity: 0;
  @include translateY(10px);
  @include transition(transform 0.3s ease, opacity 0.3s ease);
}

@mixin block-fade-action() {
  opacity: 1;
  @include translateY(0);
}

@mixin beforeElement($property, $attribute) {
  &:before {
    #{$property}: #{$attribute};
  }
}

@mixin resourceImage($imageUrl, $isBefore) {
  @if $isBefore == true {
    &:before {
      background-image: #{$imageUrl};
    }
  }
  @else {
    background-image: #{$imageUrl};
  }
}

@mixin blockquote-pseudo() {
  &:before {
    display: inline-block; 
    position: absolute;
    left: 0px;
  }
}

/*Sprite Stuff*/
@mixin generateSprites($spriteMap) {
	%#{sprite-map-name($spriteMap)} {
		@extend %base-sprite; 
		&:before {
			background-image: $spriteMap; 
		}
	}
	@each $sprite in sprite-names($spriteMap) {
		%#{$sprite}, .#{$sprite} {
			@extend %#{sprite-map-name($spriteMap)}; 
			&:before {
				background-position: sprite-position($spriteMap, $sprite);
				@include sprite-dimensions($spriteMap, $sprite);
			}
		}
	}
}

//For use in media queries. Regular @import <dir>-sprite(file-name) does not fully work.
@mixin getSprite($map, $sprite, $isRight:false, $offsetTop: 0) {
    $sprite-image: sprite-file($map, $sprite);
    $sprite-position: sprite-position($map, $sprite);
    position: relative; 
    &:before {    
      content: '';   
      background-image: $map;
      background-position: $sprite-position; 
      @include sprite-dimensions($map, $sprite);
      @if $isRight == true { 
        position: absolute; 
        right: 10px; 
        display: inline-block; 
        z-index: 4; 
        top: $offsetTop + px; 
      }
      @else  {
        position: relative; 
        display: block;
      }
    } 
    &:after {

    }
}





