@mixin button-base {
  font-family: $roboto-slab; 
  font-weight: 400; 
  cursor: pointer;
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border: 1px solid $default-button-border;
  &:hover, &:focus, &:active  {
    color: white;
  }
}

@mixin button {
  @include button-base;
  @include remFallback(font-size, 0.9375); 
  @include remFallback(line-height, 0.9375);
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}

@mixin button-lg {
  @include button-base;
  @include remFallback(font-size, 1.375);
  font-weight: 300;
  line-height: 1;
  padding: 5px 24px;
  margin: 5px 0;
  border-radius: 6px;
}

@mixin button-xl {
  @include button-base;
  @include remFallback(font-size, 1.4375);
  line-height: 1;
  padding: 7px 12px;
  margin: 5px 0;
  border-radius: 15px;
}

@mixin button-mega {
  @include button-base;
  @include remFallback(font-size, 1.75);
  @include remFallback(line-height, 1.875);
  padding: 10px 17px;
  margin: 5px 0;
  border-radius: 15px;
}

// Modifiers - colors
@mixin button-light-blue {
  @include light-blue-gradient-hover;
  border-color: $dark-blue; 
  color: white; 
}

@mixin button-dark-blue {
  @include dark-blue-gradient-hover; 
  border-color: $dark-blue; 
  color: white; 
}

@mixin button-pink {
  @include light-pink-gradient-hover;
  border-color: $dark-border-pink; 
  color: white;
}

@mixin light-box-shadow-inset {
  box-shadow: inset 1px 2px 0 0 rgba(255,255,255,.35);
}

@mixin button-pink-shiny {
  @include light-box-shadow-inset;
  @include button-pink;
  border: 1px solid $dark-pink;
}

@mixin button-blue-shiny {
  @include light-box-shadow-inset;
  @include button-light-blue; 
  border: 1px solid $dark-blue;
}