/* Gradients */
@mixin pink-gradient {
  background-color: $dark-pink;
  @include background-image(linear-gradient(to bottom, $dark-pink, $gradient-pink));
  .no-cssgradients & {
    background-image: url(images/gradient-dark-pink-1.jpg);
  }
}

@mixin light-pink-gradient {
  background-color: #bb4381;
  @include background-image(linear-gradient(to bottom,#bb4381,#a6095a));
  .no-cssgradients & {
    background-image: url(images/gradient-light-pink-1.jpg);
  }
}

@mixin light-pink-gradient-hover {
  @include light-pink-gradient; 
  &:hover {
    background-color: #d35094;
    @include background-image(linear-gradient(to bottom,#d35094,#a6095a));
  }
  .no-cssgradients & {
    background-image: url(images/gradient-light-pink-1.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
    &:hover {
      background-image: url(images/gradient-light-pink-2.jpg);
    }
  }
}

@mixin dark-blue-gradient {
  background-color: #104889;
  @include background-image(linear-gradient(to bottom,#104889,#0d1e48));
  .no-cssgradients & {
    background-image: url(images/gradient-dark-blue-1.jpg);
  }
}

@mixin dark-blue-gradient-hover {
  @include dark-blue-gradient; 
  &:hover {
    background-color: #1365bb;
    @include background-image(linear-gradient(to bottom,#1365bb,#0e2b63));
  }
  .no-cssgradients & {
    background-image: url(images/gradient-dark-blue-1.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
    &:hover {
      background-image: url(images/gradient-dark-blue-2.jpg);
    }
  }
  
}

@mixin light-blue-gradient {
  background-color: #1365bb;
  @include background-image(linear-gradient(to bottom,#005596,#003d77));
  .no-cssgradients & {
    background-image: url(images/gradient-light-blue-1.jpg);
  }
}

@mixin light-blue-gradient-hover {
  @include light-blue-gradient; 
  &:hover {
    background-color: #0378d1;
    @include background-image(linear-gradient(to bottom,#0378d1,#003d77)); 
  }
  .no-cssgradients & {
    background-image: url(images/gradient-light-blue-1.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
    &:hover {
      background-image: url(images/gradient-light-blue-2.jpg);
    }
  }
}