  /* Animations for menu transitions */

  @-webkit-keyframes MenuAnimOut1 {
    0% { }
    50% {
      -webkit-transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
      -webkit-transform: translateZ(-372.5px) rotateY(15deg);
      opacity: .5;
      
    }
    100% {
      -webkit-transform: translateZ(-500px) rotateY(0deg);
      opacity: 0;
    }
  }

  @keyframes MenuAnimOut1 {
    0% { }
    50% {
      -webkit-transform: translateZ(-250px) rotateY(30deg);
      transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
      -webkit-transform: translateZ(-372.5px) rotateY(15deg);
      transform: translateZ(-372.5px) rotateY(15deg);
      opacity: .5;
    }
    100% {
      -webkit-transform: translateZ(-500px) rotateY(0deg);
      transform: translateZ(-500px) rotateY(0deg);
      opacity: 0;
    }
  }

  @-webkit-keyframes MenuAnimIn1 {
    0% {
      -webkit-transform: translateZ(-500px) rotateY(0deg);
      opacity: 0;
    }
    20% {
      -webkit-transform: translateZ(-250px) rotateY(30deg);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: translateZ(0px) rotateY(0deg);
      opacity: 1;
    }
  }

  @keyframes MenuAnimIn1 {
    0% {
      -webkit-transform: translateZ(-500px) rotateY(0deg);
      transform: translateZ(-500px) rotateY(0deg);
      opacity: 0;
    }
    20% {
      -webkit-transform: translateZ(-250px) rotateY(30deg);
      transform: translateZ(-250px) rotateY(30deg);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: translateZ(0px) rotateY(0deg);
      transform: translateZ(0px) rotateY(0deg);
      opacity: 1;
    }
  }

  @-webkit-keyframes SubMenuAnimIn1 {
    0% {
      -webkit-transform: translateX(50%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes SubMenuAnimIn1 {
    0% {
      -webkit-transform: translateX(50%);
      transform: translateX(50%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @-webkit-keyframes SubMenuAnimOut1 {
    0% {
      -webkit-transform: translateX(0%);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(50%);
      opacity: 0;
    }
  }

  @keyframes SubMenuAnimOut1 {
    0% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(50%);
      transform: translateX(50%);
      opacity: 0;
    }
  }