/* Spacing */
$margin: 20px;
$main-container-space: 80px;
$sidebar-width: 300px;
$sidebar-width-ppc: 214px;
$blockquote-padding: 0 0 0 35px; 

/* Media Queries */
$max-width: 1200px + (80px * 2);
$desktop-xl: 1180px;
$desktop-lg: 1120px;
$desktop: 960px;
$desktop-sm: 900px;
$tablet-lg: 850px;
$tablet: 720px;
$tablet-sm: 600px;
$mobile-lg: 550px;
$mobile: 480px;

/**** Colors ****/ 

/* Pinks */
$dark-pink: #a40356; 
$light-pink: #fbdcea; 
$dark-border-pink: #7e0242; 
$pink-white: #fbf9f9;
 
/* Blues */
$dark-blue: #001a40; 
$med-blue: #005596; 
$bright-blue: #0669BD;

/* Neutrals */
$almost-black: #121320; 
$dark-gray: #2e2e2e; 
$med-gray: #696969; 
$light-gray: #e6e7e8;

/* Reds */
$error-red: #b21e1e;

/* Gradients */ 
$gradient-pink: #7d0241; 
$gradient-blue: #003d77; 

/* Misc */ 
$default-button-border: #cacdd1; 
$default-input-background: #fdfdfd; 
$default-input-border: #ccc; 
$footer-border: #cacdd1; 
$main-nav-border: #e6e7e8;
$child-nav-border: #898989;
$rounded-border: #898989; 
$child-nav-hover: #e5e6e8; 
$get-started-h2: #004f8e; 
$location-section-border: #7b7e82;
$main-image-border: #7b7e82;
// $light-gray: #dadada;

/* Social Media */
$facebook-color: #3b5998;
$facebook-color-hover: #5683c4;
$google-plus-color: #d34836; 
$google-plus-color-hover: #ea665c; 
$youtube-color: #cd201f;
$youtube-color-hover: #fb4a4e; 
$pinterest-color: #c91f27;
$pinterest-color-hover: #ec2c37; 
$twitter-color: #4099FF; 
$twitter-color-hover: #3bd6f6; 
$blog-color: #930355;
$blog-color-hover: #b70a76;

/* Logos */
$mm-logo-color: #005596; 
$mm-logo-color-hover: #0267b3;

/* Borders */
$heavy-pink-border: 3px solid $dark-pink;
$divider-border: 1px solid $med-gray;
$divider-border-light: 1px solid $light-gray;
$nav-hover-shadow: 0 -5px 0 #a40356 inset;

/**** Fonts ****/
$roboto-condensed: 'Roboto Condensed', Arial, Helvetica, sans-serif;
$roboto-slab: 'Roboto Slab', 'Courier New', serif;
$sans-serif: "Arial", "Helvetica", sans-serif;

/**** Images ****/
/* Sprite Map URLS */
$common-icons: sprite-map("sprites/common-icons/*.png");
$menu-icons: sprite-map("sprites/menu-icons/*.png");

/* Homepage Tiles */
$professional-cleaning-difference: url(tiles/professional-cleaning-difference.jpg); 
$join-our-team: url(tiles/join-our-team.jpg);
$family-house-cleaning-schedule: url(tiles/family-house-cleaning-schedule.jpg);
$get-started-today: url(tiles/get-started-today.png);

/* Homepage Slides */
$slide1: url(slides/slide1.jpg);
$slide2: url(slides/slide2.jpg);
$slide3: url(slides/slide3.jpg);
$slide4: url(slides/slide4.jpg); 

/* Other */
$get-started-map: url(images/map.png);
$menu-dekstop-height: 85px;
$select-arrow-height: 48px;
$select-arrow-width: 64px;
