// Basic buttons
.button {
  @include button;
}

.button-lg {
  @include button-lg;
}

.button-xl {
  @include button-xl;
}

.button-mega {
	@include button-mega;
}

// Modifiers – style
%button-left-flat, .button-left-flat {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
  margin-left: 0; 
}

%button-thin, .button-thin {
  padding: 3px 10px; 
}

// Modifiers – color
.button-light-blue {
  @include button-light-blue;
}

.button-dark-blue {
  @include button-dark-blue; 
}

.button-pink {
  @include button-pink; 
}

.button-pink-shiny {
  @include button-pink-shiny;
}

.button-blue-shiny {
  @include button-blue-shiny; 
}

// Special buttons
.sidebar-button {
  @include button;
  @include button-light-blue;
  display:block;
  margin: 0;  
}