/* =============================================================================
   Homepage Callouts
   ========================================================================== */

.callout {
	@extend %stroked-block-alt; 
	@extend %left-inline-block; 
	padding: 0;
	position: relative; 
	width: 24%; 
	margin-right: 1%; 
	margin-top: 0;
	margin-bottom: 0;
	height: 365px; 
	text-align: center;
	p,a  {
		@include remFallback(font-size, 0.9375);
	}
	p {
		@extend %tablet-hide; 
	}
	&:last-of-type {
		margin: 0px; 
	}
	.image-container {
		position: relative; 
		max-height: 120px; 
		overflow: hidden; 
		width: 100%; 
		img {
			max-height: inherit; 
			width: inherit; 
			border-bottom: 1px solid $rounded-border; 
		}
	}
	%base-tile-button {
		@extend %plain-link; 
		@extend %button-thin;
		@extend %rs400; 
		border-radius: 5px;  
		text-align: center;
	}
	.text-container,
	.text-container-spainish,
	.link-container {
		padding: 0 10px 10px 10px; 
	}
	.text-container,
	.text-container-spainish {
		text-align: left; 
	}
	.text-container-spainish {
		margin-top: -10px;
	}
	.link-container {
		text-align: center;
		position: absolute;
		bottom: 5px;
		width: 100%;
	}
	.action-link {
		@extend %base-tile-button; 
		@include button-dark-blue;
		display: inline-block;
	}
}

.get-started {
	padding: 10px; 
	h2 {
		color: $get-started-h2; 
		@extend %mobile-hide; 
	}
	.map-link {
		@extend %left-block; 
		@extend %float-clear; 
		@extend %image-only-link; 
		background: $get-started-map no-repeat center center; 
		background-size: contain; 
		height: 172px; 
		width: 100%; 
	}
	.link-container {
		left: 0;
	}
	.action-link {
		@extend %base-tile-button; 
		@include button-pink;
		width: 100%;
	}
}