/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}


/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0; padding: 0;
  .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;/* Hide the slides before the JS is loaded. Avoids image jumping */
  } 
  .slides img {
    width: auto;
    display: block;
  }
}

.home-flexslider {
  .slides > li {
    overflow: hidden;
  }
  .slides img {
  width: 1200px;
  }
}

.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0; background: #fff; position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  top: 355px;
  left: 10px;
  z-index: 2;
  li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: white;
  opacity: 0.4; 
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  &.flex-active {
    opacity: 0.8;
    cursor: default;
  }
}

/* Direction Nav */
.flex-direction-nav {
  *height: 0;
  a {
    text-decoration:none;
    display: block;
    width: 12px;
    height: 130px;
    position: absolute;
    top: 0;
    overflow: hidden;
    cursor: pointer;
    color: rgba(0,0,0,0.8);
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    @include single-transition(all, 0.3s, ease);
  }
  .flex-prev {
    left: 0;
  }
  .flex-next {
    right: 0;
    text-align: right;
  }

  a:before  {
    display: inline-block;
    content: url(../css/images/carousel/prev.png);
  }
  a.flex-next:before  {
    content: url(../css/images/carousel/next.png);
  }
}
