/* =============================================================================
   Footer
   ========================================================================== */
.main-footer {
 	width: 100%; 
 	color: white; 
 	margin-bottom: 25px;
 	a {
 		@extend %plain-link; 
 	}
 }

 .footer-nav { 
 	padding-top: 30px;
 	@extend %rc400; 
 	@include remFallback(font-size, 1.0625);
 	color: $dark-blue; 
 }
 .footer-nav-inside {
 	margin-bottom: 5px;
 	position: relative;
 	@extend %float-clear;
 	a {
 		margin-right: 25px; 
 		@extend %left-inline; 
 		&:hover {
 			color: $dark-pink; 
 		}
 		@media all and (max-width: 660px) {
 			margin-right: 15px;
 		}
 	}
 	.franchise-owners-area {
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 0;
	}
}


// Footer Middle
%footer-middle-base {
	background-color: $dark-gray; 
 	border-top: 1px solid $footer-border; 
 	border-bottom: 1px solid $footer-border; 
 	a {
 		&:hover, &:focus, &:active {
 			color: #fff;
 		}
 	}
}

.footer-middle-ppc {
 	@extend %footer-middle-base;
 	margin-top: $margin;
 	a {
 		text-decoration: underline;
 		&:hover, &:focus, &:active {
 			text-decoration: none;
 		}
 	}
 	p {
 		@include remFallback(font-size, 1.125);
 		position: relative;
 		padding-right: 275px;
 		@media all and (max-width: $tablet) {
 			@include remFallback(font-size, 1);
	 		text-align: center;
	 		padding-right: 0;
	 	}
 	}
 	.molly-maid-car {
		position: absolute;
		right: 0;
		bottom: -35px;
		max-width: 100%;
		@extend %mobile-hide;
	}
}

.footer-middle {
 	@extend %footer-middle-base;
 	.button-pink {
 		@extend %plain-link; 
 		@extend %button-thin; 
 		@extend %rs400; 
 		@extend %left-inline-block; 
 		border-radius: 5px;
 		margin: 10px 0 5px 0;
 	}
 	.footer-block {
 		display: table-cell;
 		vertical-align: top;
 		float: none;
 		border: 20px solid $dark-gray;
 		h3, h4 {
	 		display: inline-block; 
	 		margin: 0 0 5px;
	 	}
	 	h3 {
	 		@include remFallback(font-size, 1.4375);
	 		color: $light-pink;
	 		line-height: 1.2;
	 	}
 		p {
 			@extend %arial; 
 			@include remFallback(font-size, 0.8125);
 			margin: 0; 
 		}
 	}
 	.social-and-call {
		display: none;
		width: 100%;
		.action-link  {
			@include button-pink-shiny;
			border-radius: 10px;
			float: none;
			display: block;
			text-align: center;
			.one {
				@extend %rc400;
				@include remFallback(font-size, 1.3);
			}
			.two {
				display: block;
				@extend %rs400;
				@include remFallback(font-size, 2.2);
				line-height: 1;
			}
			.three {
				@extend %rc400;
				@include remFallback(font-size, 1);
			}
		}
 	}

 	.gift-certificates, .buy-a-franchise {
 		&:before {
 			@extend %left-inline-block;
 			clear: both; 
 			position: absolute;
 			left: 0;
 		}
 		h3, p, a  {
 			margin-left: 70px;
 		}
 	}

 	.gift-certificates {
 		@extend %present; 
 	}

 	.buy-a-franchise {
 		@extend %open-sign;
 	}
	
	.newsletter-signup  {
		border-right-width: 40px;
		.newsletter-field-pair  {
			@extend %input-button-pair;
			input[type="text"] {
				@include border-radius(0);
				height: 30px;
			}
			.button-pink {
				@extend %button-left-flat;
				margin: 0; 
				height: 30px; 
			}
		}
	}

 	.call-today {
 		position: relative;
 		background-color: $dark-pink; 
 		border: 10px solid $dark-pink;
 		* {
 			color: white; 
 		}
 		span {
 			@extend %rc400; 
 			@include remFallback(font-size, 1.25);

 		}
 		h3, h4 {
 			margin: 0; 
 		}
 		.call-today-headline {
 			@include remFallback(font-size, 1.875);
 		}
 		h4 {
 			@extend %rc400; 
 			@include remFallback(font-size, 0.9375);
 		}
 		.molly-maid-car {
			position: absolute;
			bottom: -$margin;
			right: -$margin;
			max-width: 100%;
			@extend %mobile-hide;
		}
 	}

 	.footer-hr  {
 		display: none;
 	}
}

.footer-middle-inside {
	margin-left: (-$margin);
	display: table;
}

// Footer Bottom
.copyright  {
	width: 50%;
	float: left;
	p {
		color: $med-gray;	
		@include remFallback(font-size, 0.8125);
		max-width: 450px;	
	}
}