/* =============================================================================
   Header
   ========================================================================== */

header {
	width: 100%; 
	border-bottom: 2px solid $dark-pink; 
	.header-top {
		@include remFallback(font-size, 1);
		@include remFallback(line-height, 1.625);
		min-height: 34px;
		padding: 4px 0; 
		background-color: $dark-pink; 
		@include pink-gradient; 
		color: white; 
		@extend %rc400; 
	}
	.header-bottom {
		height: $menu-dekstop-height; 
		width: 100%; 
	}
}

.join-desc {
	@extend %left-inline; 
	@extend %mobile-hide; 
	width: auto; 
}

.franchise-tab {
	@include remFallback(font-size, 0.875);
	@extend %left-inline; 
	background-color: $med-blue; 
	@include dark-blue-gradient-hover; 
	border-radius: 0 0 4px 4px; 
	box-shadow: 0 0 5px 0 #000; 
	padding: 0.125rem 1rem; 
	margin-top: -6px; 
	margin: -6px 0.5rem 0 0.5rem; 
	text-decoration: none; 
	color: white;
	&:hover, &:focus, &:active  {
		color: white;
	}
}

.call {
	@extend %right-inline; 
	a {
		@include remFallback(font-size, 1.25);
		@extend %rs700; 
		@extend %plain-link; 
	}
}

.nav-logo {
	position: relative;
	z-index: 3;
	background-image: url(images/mm-logo.svg); 
	background-repeat: no-repeat; 
	background-position: center center;
	background-size: 100% auto;
	fill: $mm-logo-color; 
	height: 59px; 
	width: 150px; 
	margin: 13px 0; 
	@extend %left-inline-block; 
	@extend %float-clear; 
	@extend %image-only-link; 
	&:hover {
		fill: $mm-logo-color-hover; 
	}
	.no-svg & {
		background-image: url(images/mm-logo.png);
	}
}

