@media all and (max-width: $desktop-lg) {

  .main-nav { 
    display: block;
    float: none;
    width: 100%;
    li {
      width: 100%;
      float: none; 
      position: relative;
      &:first-child {
        border-top: 2px solid $dark-pink;
      }
    }
    a {
      width: 100%;
      background-color: white;
      border-bottom: 1px solid #a40356;
      border-left: 1px solid $light-gray;
      border-right: 1px solid $light-gray;
      &:hover, &:focus, &:active {
        background-color: $child-nav-hover;
      }
    }

    // Links    
    .dl-back,
    .is-parent-link {
      display: block;
    }
    .is-parent-link {
      > a {
        font-weight: 700;
      }
    }
    .has-subview > a {
      @include getSprite($menu-icons, menu-collapsed-mobile, true, 10);
      &:hover, &:focus, &:active {
        @include getSprite($menu-icons, menu-collapsed-mobile, true, 10);
      }
    }
    .dl-back {
      > a {
        background-color: $child-nav-hover;
        @include getSprite($menu-icons, menu-expanded-mobile, true, 10);
        &:hover, &:focus, &:active {
          @include getSprite($menu-icons, menu-expanded-mobile, true, 10);
        }
      }
    }
    
    .tier-1 {
      height: auto;
      > li {
        border-left: none;
        height: auto;
        float: none;
        &:hover, &:focus {
          > a {
            width: 100%;
            box-shadow: none;
            height: inherit; 
          }
        }
      }
    }
    .tier-2 {
      top: 0;
      left: auto;
      border: none;
      padding-top: 0;
      > li {
        border-left: none;
        border-bottom: none;
      }
    }
    .tier-3 {
      top: 0;
      left: auto;
      border: none;
      > li {
        width: 100%;
        &:nth-child(2n+4) {
          clear: none; 
        }
      }
      > .dl-back {
        display: block;
      }
    }

    // Tiers
    .tier-1, .tier-2, .tier-3 {
      width: 100%;
      > li {
        padding: 0;
        > a {
          line-height: 2;
          color: $dark-blue;
          padding: 6px 8px 6px 23px;
          @include remFallback(font-size, 1);
        } 
      }
    }

  }
}

@media all and (max-width: $tablet) {
  .main-nav { 
    width: calc(100% + (20px * 2));
    margin-left: -20px;
  }
}