/* =============================================================================
   Navigation
   ========================================================================== */

.main-nav {
	@extend %right-inline-block; 
	@extend %float-clear;
	z-index: 2;
	position: relative;
	ul {
		@extend %rc400;
		list-style-type: none; 
		margin: 0; 
		padding: 0;
		background-color: white;
		li {
			background-color: white;
			a {
				@extend %plain-link; 
				display: inline-block; 
			}
		}
		.has-subview {
			&:hover {
				> ul {
					height: auto; 
					overflow: visible; 
				}		
			}
		}
	}

	.is-parent-link,
	.dl-back {
		display: none;
	}

	.tier-1 {
		&:hover {
			visibility: visible; 
		}
		> li { 
			position: relative; 
			float: left;
			border-left: 1px solid $light-gray;
			height: $menu-dekstop-height;
			> a {
				padding: 0px 8px;
				line-height: $menu-dekstop-height;
				color: $almost-black;
				@include remFallback(font-size, 0.9375);
			}
			&:hover, &:focus, &:active {
				> a {
					box-shadow: $nav-hover-shadow;
				}
			}
		}
	}

	.tier-2 {
		@extend %child-menu;
		left: auto; 
		top: auto; 
		color: $dark-pink;
		padding-top: 2px;
		background-color: transparent;
		> li {
			clear: both;
			padding: 6px 8px; 
			border-bottom: 1px solid $dark-pink;
			width: 100%;  
			> a {
				clear: both; 
				line-height: 1.2;
				@include remFallback(font-size, 1);
			}
			&:hover, &:focus, &:active {
				background-color: $child-nav-hover; 
				color: $almost-black; 
			}
		}
		.has-subview {
			@extend %sprite-right; 
			@extend %menu-collapsed; //sprite icon
			&:hover { 
				@extend %sprite-right; 
				@extend %menu-expanded; //sprite icon
			}
		}
 	}

	.tier-3 {
		@extend %child-menu; 
		color: $almost-black; 
		left: 100%; 
		top: 0; 
		border-radius: 0 0 15px; 
		border-bottom: 1px solid $child-nav-border;
		border-right: 1px solid $child-nav-border;
		width: 0;
		> li {
			display: block;
			width: 80px;
			> a {
				padding: 8px 0 8px 20px;
				@include remFallback(font-size, 1);
			}
			&:hover, &:focus, &:active {
				color: $dark-pink; 
			}
			&:nth-child(2n+4) {
				clear: left;
			}
		}
		> .dl-back {
			display: none;
		}
	}

	/* Desktop Animations */
	@media all and (min-width: ($desktop-lg - 1px)) {
		.has-subview:hover {	
			.tier-2 {
				@include block-fade-action();
			}
		}
		.tier-2 .has-subview:hover { 
			.tier-3 {
				@include block-fade-action();
				width: 181px;
			}
	 	}
		.tier-2,
		.tier-3 {	
			@include block-fade-base();
		}
	}
}

/* Main Menu - Tablet + Mobile */
.dl-trigger {
	display: none;
	height: $menu-dekstop-height; 
	width: 70px; 
	padding: 30px 20px; 
	background-color: white; 
	border: 0px; 
	outline: none;
	@extend %menu-icon; 
	@extend %image-only-link; 
	@extend %right-inline-block;
	cursor: pointer;
	&:hover {
		box-shadow: $nav-hover-shadow;
	}
	&.dl-active {
		@extend %menu-icon-hover; 
		box-shadow: $nav-hover-shadow;
	}
}