
@media all and (max-width: $desktop-lg) {
  .dl-menuwrapper  {
    width: 100%;
    z-index: 1;
    float: left;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 200%;
    perspective-origin: 50% 200%;
    ul  {
      background: #aaa;
    }
    ul  {
      padding: 0;
      list-style: none;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    li  {
      position: relative;
      a  {
        @include remFallback(font-size, 1);
        @include remFallback(line-height, 1.25); 
        display: block;
        position: relative;
        padding: 15px 20px;
        font-weight: 300;
        color: #fff;
        outline: none;
      }
    }
  }

  .dl-trigger {
    display: block;
    position: absolute !important;
    right: 70px;
    top: -85px;
  }

  .dl-menuwrapper  {
    li  {
      float: none;
    }
    .dl-menu  {
      pointer-events: none;
      height: 0;
      position: relative;
      width: 100%;
      opacity: 0;
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      &.dl-menu-toggle  {
        @include single-transition(all, 0.3s, ease);
      }
      &.dl-menuopen  {
        pointer-events: auto;
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
      }
    }
    li .dl-submenu  {
      display: none;
    }
  }

  /* Hide the inner submenus */

  /* 
  When a submenu is openend, we will hide all li siblings.
  For that we give a class to the parent menu called "dl-subview".
  We also hide the submenu link. 
  The opened submenu will get the class "dl-subviewopen".
  All this is done for any sub-level being entered.
  */
  
  .dl-menu.dl-subview li  {
    display: none;
    &.dl-subviewopen > a  {
      display: none;
    }
    &.dl-subview  {
      > a  {
        display: none;
      }
      display: block;
      .dl-submenu  {
        display: block;
      }
    }
    &.dl-subviewopen  {
      display: block;
      > .dl-submenu  {
        display: block;
        > li  {
          display: block;
        }
      }
    }
  }

  /* Dynamically added submenu outside of the menu context */

  .dl-menuwrapper > .dl-submenu  {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
  }

  /* Animation classes for moving out and in */

  .dl-menu.dl-animate-out-1  {
    -webkit-animation: MenuAnimOut1 0.4s;
    animation: MenuAnimOut1 0.4s;
  }

  .dl-menu.dl-animate-in-1  {
    -webkit-animation: MenuAnimIn1 0.3s;
    animation: MenuAnimIn1 0.3s;
  }

  .dl-menuwrapper > .dl-submenu.dl-animate-in-1  {
    -webkit-animation: SubMenuAnimIn1 0.4s ease;
    animation: SubMenuAnimIn1 0.4s ease;
  }

  .dl-menuwrapper > .dl-submenu.dl-animate-out-1  {
    -webkit-animation: SubMenuAnimOut1 0.4s ease;
    animation: SubMenuAnimOut1 0.4s ease;
  }

  /* No JS Fallback */

  .no-js .dl-menuwrapper  {
    .dl-menu  {
      position: relative;
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
    li  {
      .dl-submenu  {
        display: block;
      }
      &.dl-back  {
        display: none;
      }
      > a:not(:only-child)  {
        background: rgba(0, 0, 0, 0.1);
        &:after  {
          content: '';
        }
      }
    }
  }
}

@media all and (max-width: $tablet) {
  .dl-menuwrapper  {
    width: calc(100% - (20px * 2));
    margin-left: 20px;
  }
}

@media all and (max-width: $mobile) {
  .dl-menuwrapper {
    top: -70px;
  }
}
