/* =============================================================================
   Search Section in Header
   ========================================================================== */

.search {
	pointer-events: none;
	position: relative;
	z-index: 3;
	height: $menu-dekstop-height; 
	width: 70px; 
	float: right; 
	&.open {
		.search-icon {
			@extend %magnifying-glass-hover;	
			box-shadow: $nav-hover-shadow;
		}
		.search-dropdown {
			@include block-fade-action();
			pointer-events: auto;
		}
	}
}

.search-icon {
	pointer-events: auto;
	float: right; 
	@extend %magnifying-glass;
	background-color: transparent; 
	width: 70px;  
	height: $menu-dekstop-height; 
	vertical-align: middle; 
	border-left: 1px solid #e6e7e8;
	border-right: 1px solid #e6e7e8;
	border-bottom: none; 
	border-top: none;  
	padding: 20px;
	outline: none;
	&:hover {
		box-shadow: $nav-hover-shadow;
	}
}

.search-dropdown {
	pointer-events: auto;
	@include block-fade-base();
	pointer-events: none;
	position: relative; 
	float: right; 
	clear: both; 
	left: auto; 
	top: auto; 
	z-index: 2; 
	width: 400px; 
	height: 70px; 
	padding: 15px; 
	background-color: white; 
	border-top: 2px solid $dark-pink; 
	border-radius: 0 0 15px; 
	border-bottom: 1px solid $child-nav-border;
	border-right: 1px solid $child-nav-border;
	border-left: 1px solid $child-nav-border;
	input[type="text"] {
		@include border-radius(0);
		height: 30px; 
		width: 300px; 
	}
}

.search-submit {
	@include button; 
	border: none;
	height: 30px;
	border-color: #dadada; 
	margin: 0; 
	position: absolute; 
	@include light-blue-gradient-hover; 
}
button.search-submit {
	@extend %button-left-flat;
}