.carousel {
	padding: 0 $margin;
}

.home {
	position: relative; 
	.slider-container {
		width: 100%; 
		position: relative; 
		z-index: 0; 
	}
	.slider {
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
	}
}
.slide-text,
.slide-text-ppc {
	position: absolute;
	bottom: 35px;
	left: 0;
	padding-left: ($margin/2);
	padding-right: ($margin/2);
	h1, h2 {
		color: #fff;
	}
	h1{
		@include remFallback(font-size, 1.625);
	}
	.first {
		@extend %rc200;
		text-shadow: 0 0 10px #333;
	}
	.second {
		@include remFallback(font-size, 3.75);
		@extend %rs300;
		line-height: 1;
		text-shadow: 0 0 20px #333;
		@media all and (max-width: 1300px) {
			@include remFallback(font-size, 3.125);	
		}
		@media all and (max-width: $desktop-sm) {
			@include remFallback(font-size, 2.1875);	
		}
		@media all and (max-width: $mobile-lg) {
			@include remFallback(font-size, 1.5);
		}
	}
}

.slide-text-ppc {
	bottom: 5px;
	margin-right: $sidebar-width;
	@media all and (max-width: $desktop) {
		margin-right: $sidebar-width-ppc;
	}
	@media all and (max-width: $tablet) {
		margin-right: 0;
	}
  @media all and (max-width: $mobile-lg) {
  	position: static;
  	padding: 0;
    h1, h2 {
    	color: $dark-pink;
    }
    .first {
    	@include remFallback(font-size, 1.4375);
    	text-shadow: none;
    	font-weight: 400;
    }
    .second {
    	@include remFallback(font-size, 1.9375);
    	text-shadow: none;
    }
  }
}

.slide-quote {
	width: 100%;
	min-height: 90px;
	position: relative; 
	padding: 1px 10px 0; 
	border: 1px solid $rounded-border;
	border-bottom-left-radius: 15px; 
	border-bottom-right-radius: 15px;
	border-top: 4px solid $dark-pink;
	background: $pink-white;
	p {
		@include remFallback(font-size, 1.0625);
	}
}

.slide-quote-inner {
	@extend %faux-blockquote;
	@extend %rc300;
}

.slide-text,
.slide-quote-inner {
	width: 68%;
}

.slide-link {
	display: block;
	position: relative;
}

.slider-overlay-block {
	@extend %dark-box-shadow;
	@extend %stroked-block-rounded;
	z-index: 1;
	position: absolute; 
	display: inline-block;
	width: 30%;
	top: 15px;
	right: 5px; 
	padding: 25px 10px 15px;
	text-align: center; 
	margin: 0;
	@media all and (max-width: $desktop-xl) {
		width: 36%;
	}
	@media all and (max-width: $tablet-sm) {
		position: static;
		border-top: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		width: 100%;
		-webkit-box-shadow: none;
		box-shadow: none;
		background: $pink-white;
	}
}