%social-menu {
  font-size: 0;
  line-height: 0;
}
.social-menu-header {
  @extend %social-menu;
  @extend %mobile-hide;
  @extend %left-inline;
}
.social-menu-footer {
  @extend %social-menu;
  text-align: center;
  %circle-icon  {
    margin-top: 20px;
  }
  @media all and (max-width: 360px) {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

// Circle icon small
.circle-icon,
%circle-icon {
  border-radius: 50%; 
  width: 24px; 
  height: 24px; 
  overflow: hidden; 
  border: 2px solid white; 
  text-indent: -10000px;  
  display: inline-block;
  position: relative;
  @extend .icon;
  @include remFallback(margin-left, 0.25);
  @include remFallback(margin-right, 0.25);
  // webkit border radius overflow fix
  -webkit-mask: -webkit-radial-gradient(circle, white, black);
  &:before {
    position: absolute;
  }
}

.circle-blg-sm {
  @extend %blg-colors;
  @extend .icon-blg-sm;
  &:before {
    top: 4px;
    left: 1px;
  }
}

.circle-yt-sm {
  @extend %yt-colors;
  @extend .icon-yt-sm;
  &:before {
    top: 1px;
    left: 3px;
  }
}

.circle-pn-sm {
  @extend %pn-colors;
  @extend .icon-pn-sm;
  &:before {
    top: 3px;
    left: 3px;
  }
}

.circle-fb-sm {
  @extend %fb-colors;
  @extend .icon-fb-sm;
  &:before {
    top: 2px;
    left: 5px;
  }
}

.circle-tw-sm {
  @extend %tw-colors;
  @extend .icon-tw-sm;
  &:before {
    top: 4px;
    left: 3px;
  }
}

.circle-gp-sm {
  @extend %gp-colors;
  @extend .icon-gp-sm;
  &:before {
    top: 5px;
    left: 0;
  }
}

// Circle icon bigger
.circle-icon-bigger {
  @extend %circle-icon;
  width: 37px;
  height: 37px;
  @include remFallback(margin-left, 0.4);
  @include remFallback(margin-right, 0.4);
}

.circle-blg-lg {
  @extend %blg-colors;
  @extend .icon-blg-lg;
  &:before {
    top: 9px;
    left: 3px;
  }
}

.circle-yt-lg {
  @extend %yt-colors;
  @extend .icon-yt-lg;
  &:before {
    top: 3px;
    left: 6px;
  }
}

.circle-pn-lg {
  @extend %pn-colors;
  @extend .icon-pn-lg;
  &:before {
    top: 6px;
    left: 5px;
  }
}

.circle-fb-lg {
  @extend %fb-colors;
  @extend .icon-fb-lg;
  &:before {
    top: 5px;
    left: 10px;
  }
}

.circle-tw-lg {
  @extend %tw-colors;
  @extend .icon-tw-lg;
  &:before {
    top: 8px;
    left: 5px;
  }
}

.circle-gp-lg {
  @extend %gp-colors;
  @extend .icon-gp-lg;
  &:before {
    top: 9px;
    left: 2px;
  }
}

// Share
%share-button {
  @include remFallback(font-size, 0.75);
  @include border-radius(5px);
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 5px 0;
  width: 62px;
  display: inline-block;
  text-align: center;
  .is-verb {
    @extend .icon;
    display: inline-block;
    position: relative;
    &:before {
      position: absolute;
      top: -2px;
      left: 0;
    }
  }
  &:hover, &:focus, &:active {
    color: white;
  }
}

.fb-share {
  @extend %share-button;
  @extend %fb-colors;
  border: 1px solid #364c7f;
  .is-verb {
    @extend .icon-fb-thumb;
    padding-left: 20px;
    &:before {
      top: -3px;
      left: 0;
    }
  }
}

.tw-share {
  @extend %share-button;
  @extend %tw-colors;
  border: 1px solid #377ba6;
  .is-verb {
    @extend .icon-tw-sm;
    padding-left: 18px;
    &:before {
      top: -2px;
      left: 0;
    }
  }
}

.gp-share {
  @extend %share-button;
  @extend %gp-colors;
  border: 1px solid #aa3327;
  .is-verb {
    @extend .icon-gp-sm;
    padding-left: 22px;
    &:before {
      top: -3px;
      left: 0;
    }
  }
}

.pn-share {
  @extend %share-button;
  @extend %pn-colors;
  border: 1px solid #931610;
  .is-verb {
    @extend .icon-pn-sm;
    padding-left: 18px;
    &:before {
      top: -3px;
      left: 0;
    }
  }
}

// Colors
%blg-colors {
  background-color: $blog-color;
  &:hover {
    background-color: $blog-color-hover; 
  } 
}

%yt-colors {
  background-color: $youtube-color;
  &:hover {
    background-color: $youtube-color-hover; 
  } 
}

%pn-colors {
  background-color: $pinterest-color;
  &:hover {
    background-color: $pinterest-color-hover; 
  }
}

%fb-colors {
  background-color: $facebook-color;
  &:hover {
    background-color: $facebook-color-hover; 
  } 
}

%tw-colors {
  background-color: $twitter-color;
  &:hover {
    background-color: $twitter-color-hover; 
  } 
}

%gp-colors {
  background-color: $google-plus-color;
  &:hover {
    background-color: $google-plus-color-hover; 
  } 
}