.usamap {
  position: relative;
  padding-bottom: 72%;
  margin-bottom: 30px;
  height: 0;
}
.paper {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}

.paper svg {
  width: 100%;
  height: 100%;
}
