/* =============================================================================
   Queries
   ========================================================================== */

@media all and (min-width: $max-width) {
	.main-nav .tier-1 > li > a {
		padding: 0 20px; 
	}
}

@media all and (max-width: $max-width) {
	// Home Callouts
	.callout {
		height: 390px;
	}
}

@media all and (max-width: $desktop-xl) {

	// Slider
	.slide-text {
		width: 62%;
	}
	.slide-quote-inner {
		width: 100%;
	}

	// Home Callouts
	.callout {
		h2 {
			@include remFallback(font-size, 1.4);
		}
	}

	.footer-middle {
		.newsletter-signup {
			.newsletter-field-pair {
				input {
					width: 100%;
				}
				.button-pink {
					border-radius: 5px;
					margin-top: 10px;
					width: auto;
				}
			}
		}
	}

}

@media all and (max-width: 1060px) {

	// Footer
	.footer-middle {
		.call-today {
			.call-today-headline {
				@include remFallback(font-size, 1.3);
			}
		}
	}
}

@media all and (max-width: $desktop-lg) {

	%desktop-lg-visually-hidden {
		height: 0px; 
	}

	// Footer
	.footer-middle {
		.footer-block {
			h3 {
				@include remFallback(font-size, 1.2);
			}
		}
		.gift-certificates {
			// @extend .present-sm;
			&:before {
				background-position: 0 -216px;
				height: 48px;
				width: 40px;		
			}
		}
		.buy-a-franchise {
			// @extend .open-sign-sm;
			&:before {
				background-position: 0 -104px;
				height: 48px;
				width: 40px;		
			}
		}
		.gift-certificates, .buy-a-franchise {
			h3 {
				margin-left: 50px;
				max-width: 135px;
			}
			p {
				margin-top: 10px;
			}
		 	p, a {
		 		margin-left: 0;
		 	}
		}
		.newsletter-signup {
			h3 {
				max-width: 200px;
			}
		}
		.call-today {
			.call-today-headline {
				@include remFallback(font-size, 1.8);
			}
		}
	}
}

@media all and (min-width: $desktop) {
	%tablet-show, .tablet-show {
		display: none; 
	}

	%desktop-visually-hidden, .desktop-visually-hidden {
		visibility: hidden; 
	}
}

@media all and (max-width: $desktop) {

	%desktop-hide, .desktop-hide {
		display: none;
	}

	%tablet-hide, .tablet-hide {
		display: none;  
	}

	%tablet-show, .tablet-show {
		display: block; 
	}

	%tablet-visually-hidden {
		height: 0px; 
	}

	%desktop-visually-hidden, .desktop-visually-hidden {
		max-height: none; 
	}

	// Home Callouts
	.callout {
		height: 215px; 
	}

	//Footer
	.footer-middle {
		.footer-block {
			border-width: 10px;
			min-height: 190px; 
			h3 {
				@include remFallback(font-size, 1);
				max-width: 100px;
			}
			.button-pink {
				@include remFallback(font-size, 0.875);
			}
		}
		.newsletter-signup {
			border-right-width: 20px;
		}
		.call-today {
			.call-today-headline {
				@include remFallback(font-size, 1.1875);
			}
		}
	}
	.footer-middle-inside {
		margin-left: -10px;
	}
} 

@media all and (max-width: $desktop-sm) {

	%desktop-sm-hide, .desktop-sm-hide {
		display: none;
	}

	// Footer
	.footer-nav-inside {
 		.franchise-owners-area {
 			bottom: auto;
 			top: -30px;
 		}
 	}
	.footer-middle {
		.gift-certificates, .buy-a-franchise {
			h3 {
				margin-left: 0;
			}
			p {
				margin-top: 0;
			}
			&:before  {
				content: none;
			}
		}
	}
}

@media all and (max-width: $desktop) and (min-width: $tablet) {
	// Home Callouts
	.callout {
		h2 {
			@include remFallback(font-size, 1);
		}
		&.get-started {
			.map-link {
				max-height: 100px; 
			}
		}
	}
}

@media all and (max-width: $tablet-lg) {
	// Home Callouts
	.callout {
		height: 250px;
	}
}

@media all and (max-width: 820px) {
	// Header
	.join-desc,
	.call-desc  {
		display: none;
	}
}

@media all and (max-width: $tablet) {
	%mobile-hide, .mobile-hide {
		display: none; 	
	}

	%mobile-visually-hidden, .mobile-visually-hidden {
		max-height: none; 
	}

	.container {
		padding: 0 20px;
	}

	// header
	header {
		.franchise-tab {
			@include float-clear;
		}
		.header-top {
			height: auto;  
		}
	}

	.call-desc  {
		display: inline-block;
	}

	//Homepage Callouts
	.content-bottom {
		.callout {
			min-height: 237px; 
			height: auto; 
			width: 48%; 
			margin: 0 2% 15px 0; 
			&:nth-of-type(2n) {
				margin-right: 0px; 
			}
			&:nth-of-type(3n) {
				clear: left; 
			}
		}
		.get-started {
			.map-link {
				margin-bottom: 15px; 
			}
		}
	}

	// Footer
	.footer-nav { 
 		padding-top: 30px;
 	}
	.footer-middle {
		.footer-block {
			min-height: 0;
			display: block;
			float: left;
			padding: $margin;
			border: none;
			h3 {
				@include remFallback(font-size, 1.4375);
				max-width: none;
			}
		}
		.social-and-call {
			display: block;
		}
		.gift-certificates {
			// @extend .present;
			&:before {
				background-position: 0 -264px;
				height: 63px;
				width: 51px;
			}
		}
		.buy-a-franchise {
			// @extend .open-sign;
			&:before {
				background-position: 0 -152px;
				height: 64px;
				width: 53px;
			}
		}
		.gift-certificates, .buy-a-franchise {
			padding-left: $margin;
			width: 50%;
			h3 {
				margin-top: 0;
			}
			h3, a {
				margin-left: 65px;
			}
			p {
				display: none;
			}
			&:before {
				content: '';
				left: $margin;
			}
		}

		.newsletter-signup {
			width: 100%;
			h3 {
				max-width: 240px;
			}
			.newsletter-field-pair {
				max-width: 300px;
				margin-top: 10px;
				input {
					max-width: 60%;
					float: left;
				}
				.button-pink {
					max-width: 40%;
					float: left;
					margin: 0;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					border-left-width: 0;
					@include remFallback(font-size, 1);
				}
			}
		}
		.call-today {
			display: none;
		}
		.footer-hr {
			padding: 0 $margin;
			display: block;
			clear: both;
			hr {
				border: none;
				height: 1px;
				width: 100%;
				background: white;
				margin: 0 auto;
			}
		}
	}
	.footer-middle-inside {
		margin-right: -$margin;
		margin-left: -$margin;
		display: block;
	}

	// Footer Bottom
	.copyright {
		width: 100%;
		text-align: center;
		p {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

@media all and (max-width: $tablet-sm) {
	.home-flexslider  {
	  .slides img  {
	    width: 100%;
	  }
	}
	.slide-quote {
		display: none;
	}
	.flex-control-nav {
		bottom: 10px;
		top: auto;
	}
	.slide-text {
		bottom: 23px;
	}
}
@media all and (max-width: $mobile-lg) {
	.slide-text {
		width: 100%;
	}

	// States Map
	.states-map {
		display: none;
	}
	.state-list-ul {
		display: none;
	}
	.state-select-wrap {
		display: block;
	}
}

@media all and (max-width: $mobile) {

	// Header
		header {
		.call {
			float: none; 
			clear: both; 
			display: block;
			text-align: center;
		}
	}
	.search {
		float: none !important; 
		display: inline; 
		width: 100% !important; 
		.search-icon {
			position: relative; 
		}
		.search-dropdown {
			width: 100%; 
			float: none; 
			input[type="text"] {
				width: 80%;
			}
		}
	}
	.content-bottom .callout {
		width: 100%;
		margin-right: 0px; 
		clear: both; 
	}

	// Footer
	.footer-nav { 
 		padding-top: 0;
 	}
	.footer-nav-inside {
		.franchise-owners-area {
			position: static;
			margin-right: 15px;
		}
	}
	.footer-middle {
		.footer-block {
			h3 {
				@include remFallback(font-size, 1);
			}
		}
		.gift-certificates, .buy-a-franchise {
			h3 {
				margin-top: 80px;
				margin-left: 0;
			}
			a {
				margin-left: 0;
			}
		}
	}

	.fixed-size-image {
	  max-width: 100%;
	  height: auto;
	  float: none;
	  display: block;
	  margin-left: 0;
	}

}

@media all and (max-width: 450px) {
	.slide-text {
		@include visually-hidden;
	}
}

@media all and (max-width: 350px) {
	.nav-logo {
		width: 100px;
	}
}