// Location premier block
.loc-premier-title {
  padding-bottom: 5px;
  border-bottom: $heavy-pink-border;
}

.loc-premier-phone {
  @include remFallback(font-size, 1.75);
  color: $almost-black;
  text-decoration: none;
  span:first-child {
    @extend %rc300;
  }
  span:last-child {
   @extend %rc400; 
  }
  &:hover, &:focus, &:active {
    color: $almost-black;
  }
}

.loc-premier-button-pink {
  @include button-xl;
  @include button-pink-shiny;
  display: block !important;
}

.loc-premier-button-blue {
  @include button; 
  @include button-light-blue;
  display: block !important;
}

.loc-premier-hidden-locs{
  @extend %toggle-display; 
}

.loc-premier-more-locs-link{
  @extend %rc400;
  @extend %has-small-down-triangle;
  text-decoration: underline; 
  color: $dark-pink; 
  cursor: pointer; 
}

.loc-premier-choose-loc {
  @extend %small-cond-text;
}

.loc-premier-choose-loc-link {
  @extend %rc400;
  @extend %has-small-down-triangle;
  @extend %plain-link;
  color: $almost-black;
  &:after {
    content: none;
  }
}

.loc-premier-change-loc {
  text-align: right;
}

.loc-premier-change-loc-link {
  @extend %small-cond-text;
  text-decoration: none;
}

@media all and (max-width: $desktop) {
  .loc-premier-button-pink {
    @include button;
    span {
      display: inline-block;
      max-width: 165px;
    } 
  }
  .loc-premier-button-blue {
    span {
      display: inline-block;
      max-width: 100px;  
    }
  }
  .loc-premier-choose-loc {
    width: 50%;
    float: left;
  }
  .loc-premier-choose-loc-link {
    &:after {
      content: '';
    }
  }
}

@media all and (max-width: $desktop-sm) {
  .loc-premier-change-loc {
    width: 50%;
    float: left;
  }
}

@media all and (max-width: $tablet-sm) {
  .loc-premier-phone {
    @include button-xl;
    @include button-pink-shiny;
    border-radius: 5px;
    display: block;
  }
  .loc-premier-button-pink {
    @include button-light-blue;
  }
}

// Button Grid
.loc-premier-container {
  @media all and (max-width: $desktop-sm) {
    @include float-clear;
    margin: 0 (-$gird-spacing);
  }
}
.loc-premier-col-1 {
  @media all and (max-width: $desktop-sm) {
    padding: 0 $gird-spacing;
    float: left;
    width: (100%/3);
  }
  @media all and (max-width: $tablet-sm) {
    width: (100%/7)*3;
  }
  @media all and (max-width: $mobile) {
    width: 100%;
  }
}
.loc-premier-col-2 {
  padding-right: $gird-spacing;
}
.loc-premier-col-3 {
  padding-left: $gird-spacing;
}
.loc-premier-col-2,
.loc-premier-col-3 {
  float: left;
  width: (100%/2);  
  @media all and (max-width: $desktop-sm) {
    padding: 0 $gird-spacing;
    width: (100%/3);
  }
  @media all and (max-width: $tablet-sm) {
    width: (100%/7)*2;
  }
  @media all and (max-width: $mobile) {
    width: (100%/2);
  }
}