// Dividers
%has-top-border,
.has-top-border {
  @include has-top-border;
}

%has-top-border-light,
.has-top-border-light {
  @include has-top-border-light;
}

%has-bottom-border,
.has-bottom-border {
  @include has-bottom-border;
}

// Blocks
%block {
  margin: ($margin/2) 0;
  padding: 0 ($margin/2);
  width: 100%;
}

%stroked-block-rounded,
.stroked-block-rounded {
  @extend %block;
  border: 1px solid $rounded-border;
  background-color: rgba(255,255,255,.8);
  border-radius: 15px;
}

%stroked-block-square,
.stroked-block-square {
  @extend %block;
  border: 1px solid $rounded-border;
  background-color: rgba(255,255,255,.8);
}

%stroked-block-alt,
.stroked-block-alt {
  @extend %block;
  border: 1px solid $rounded-border; 
  border-top-right-radius: 15px; 
  border-bottom-left-radius: 15px; 
  overflow: hidden;
}

.stroked-block-side-image {
  @extend %stroked-block-alt;
  $height: 94px;
  height: $height;
  overflow: hidden;
  img {
    height: $height;
    margin-right: -($margin/2);
  }
  h3 {
    color: $dark-blue;
    margin-bottom: 0;
    line-height: 1;
    @include remFallback(font-size, 1.25);
  }
}

.stroked-block-top-image {
  @extend %stroked-block-alt;
  .img-container {
    margin-left: -($margin/2);
    margin-right: -($margin/2);
  }
  img {
    width: 100%;
  }
}

%dashed-block,
.dashed-block {
  @extend %block;
  border: 1px dashed $dark-border-pink;
  padding: 5px;
}

.big-coupon {
  @include border-bottom-left-radius(20px);
  @media all and (max-width: 1290px){
    .media-block-image-right {
      float: none;
      margin-left: 0;
    }
  }
}

.loc-list-pair {
  margin-top: ($margin/2);
  padding-bottom: ($margin/2);
  border-bottom: 1px solid $almost-black;
  h4, p {
    margin: 0;
  }
  &:first-of-type {
    margin-top: $margin;
  }
  &:last-of-type {
    border-bottom: none;
  }
}

.small-titled-block {
  @extend %box-padding-small;
  @extend %has-top-border-light;
  h3 {
    font-family: $sans-serif;
    @include remFallback(font-size, 1.0625);
    color: $almost-black;
    font-weight: bold;
    margin: 0 0 5px;
  }
  p {
    margin: 0;
  }
  &.first {
    border: none;
  }
}

.quote-list-block {
  @extend %has-top-border; 
  @extend %box-margin;
  @extend %faux-blockquote;
  padding-top: $margin;
}

.map-canvas  {
  height: 250px;
  width: 450px;
  max-width: 100%;
}