// Main premier block
.premier-title  {
  @extend %rs300;
  @include remFallback(font-size, 2.6875);
  line-height: 1.2;
  color: $dark-pink; 
  margin-bottom: 25px;
  @media all and (max-width: 1340px) {
    @include remFallback(font-size, 2.125);
  }
}
.premier-input {
  input {
    @include remFallback(font-size, 1.625);
    @include border-radius(0);
    @extend %rc300;
    text-align: center; 
    padding: 5px; 
    margin: 0 auto 8px; 
    height: auto;
    width: 210px;
    border: 1px solid #A4A4A4;
    box-shadow: 0px 3px 5px -4px #151515 inset;
  }
  span {
    @include remFallback(font-size, 0.9375);
    @extend %rc400; 
    width: 100%; 
    display: block; 
    a {
      display: inline; 
    }
  }
}
.premier-local {
  @include button-mega;
  @include button-blue-shiny;
  margin: 25px auto;
  display: block;
}
.premier-small {
  @include remFallback(font-size, 0.9375);
  @extend %rc400; 
  width: 100%; 
  display: block; 
}
.premier-call {
  @include remFallback(font-size, 1.875);
  @extend %rs400; 
  width: 100%; 
  display: block; 
}

// If it's in the home page block
.slider-overlay-block {
  .premier-title {
    margin-top: 0;
  }
}

// If it's in the sidebar block
.sidebar-premier-block {
  .premier-title {
    @include remFallback(font-size, 2);
  }
  .premier-local {
    @include remFallback(font-size, 1.5);
    line-height: 1.2;
    margin: 15px 0; 
  }
  .premier-call {
    @include remFallback(font-size, 1.6875); 
    margin-bottom: 10px;
  }
}

@media all and (max-width: $desktop-xl) {
  .premier-title {
    font-weight: 400; 
    @include remFallback(font-size, 1.5625);
    margin-bottom: 15px; 
  }
  .premier-local {
    margin: 15px 0; 
    @include remFallback(font-size, 1.5);
  }
  .premier-call {
    @include remFallback(line-height, 1.875);
    @include remFallback(font-size, 1.75);
  }
  .slider-overlay-block {
    .premier-input {
      input {
        max-width: 150px; 
        @include remFallback(font-size, 0.9375);
      }
    }
    .premier-title-small {
      @include remFallback(font-size, 1.25);
    }
  }
}

@media all and (max-width: $desktop) {
  .premier-call {
    @include remFallback(font-size, 1.3125);
  }
  .sidebar-premier-block {
    .premier-title,
    .premier-small,
    .premier-call {
      display: none;
    }
    .premier-input {
      input {
        display: inline-block;
      }
    }
    .premier-local {
      margin-top: 0;
      line-height: 1;
      br  {
        display: none;
      }
    }
    .premier-input,
    .premier-button {
      float: left;
      clear: none;
    }
    .premier-input {
      width: 40%;
      text-align: left;
      input {
        width: 100%;
      }
    }
    .premier-button {
      width: 60%;
      padding-left: 20px;
    }
  }
  .slider-overlay-block {
    .premier-local {
      @include remFallback(font-size, 1.25);
      line-height: 1.2;
    }
  }
}

@media all and (max-width: $desktop-sm) {
  .slider-overlay-block {
    .premier-title-medium {
      @include remFallback(font-size, 1.4375);
    }
    .premier-title-small {
      @include remFallback(font-size, 1.125);
    }
    .premier-local-link {
      @include remFallback(font-size, 0.875);
    }
  }
} 

@media all and (max-width: $tablet-lg) {
  .sidebar-premier-block {
    .premier-input {
      input {
        height: 46px;
      }
    }
    .premier-local {
      @include remFallback(font-size, 0.9375);
      padding-top: 7px;
      padding-bottom: 7px;
      br  {
        display: block;
      }
    }
  }
}

@media all and (max-width: 780px) {
  .premier-title {
    @include remFallback(font-size, 1.3125);
  }
  .premier-local {
    @include remFallback(font-size, 1);
  }
  .premier-call {
    @include remFallback(font-size, 1.0625);
  }
}

@media all and (max-width: $tablet-sm) {
  .premier-title,
  .premier-small,
  .premier-call {
    @include visually-hidden;
  }
  .premier-input {
    input {
      display: inline-block;
    }
  }
  .premier-local {
    @include remFallback(font-size, 0.9375);
    margin-top: 0;
    line-height: 1;
  }
  .premier-input,
  .premier-button {
    float: left;
    clear: none;
  }
  .premier-input {
    width: 40%;
    text-align: left;
  }
  .premier-button {
    width: 60%;
  }
  .sidebar-premier-block {
    .premier-input {
      input {
        @include remFallback(font-size, 0.9375);
      }
    }
  }
  .slider-overlay-block {
    .premier-input {
      input {
        height: 46px;
        max-width: 100%;
      }
    }
    .premier-button {
      padding-left: 10px;
    }
    .premier-local {
      @include remFallback(font-size, 0.9375);
      line-height: 1;
      padding-top: 7px;
      padding-bottom: 7px;
      br  {
        display: block;
      }
    }
  }
}

@media all and (max-width: $mobile) {
  .sidebar-premier-block .premier-local,
  .slider-overlay-block .premier-local {
    margin-top: 10px;
    margin-bottom: 0;
    br {
      display: none;
    }
  }
  .sidebar-premier-block .premier-input,
  .sidebar-premier-block .premier-button,
  .premier-input,
  .premier-button {
    float: none;
    width: 100%;
  }
  .sidebar-premier-block  .premier-input,
  .premier-input {
    text-align: center;
  }
  .sidebar-premier-block .premier-button,
  .slider-overlay-block .premier-button {
    padding-left: 0;
    width: auto;
    display: inline-block;
  }
  .sidebar-premier-block .premier-input input,
  .slider-overlay-block .premier-input input {
    height: auto;
    max-width: 150px;
  }
}