.ppc-premier-title {
  @include remFallback(font-size, 1.4375);
  margin-top: 5px;
  margin-bottom: 0;
}

.ppc-premier-hr {
  border: none;
  height: 3px;
  width: 100%;
  background: $dark-pink;
  @media all and (max-width: $tablet) {
    display: none;
  }
}

.ppc-premier-subtitle {
  color: $dark-blue;
  @include remFallback(font-size, 1.625);
  @extend %rc400; 
  a {
    color: $dark-blue;
    @include remFallback(font-size, 1.625);
    @extend %rc400; 
    text-decoration: none;  
  }
  .phone-number {
    @include remFallback(font-size, 2.5);
    @extend %rc700;
  }
  @media all and (max-width: $desktop) {
    .phone-number {
      @include remFallback(font-size, 1.6875);
      margin-top: 5px;
    }
  }
  @media all and (max-width: $tablet) {
    a {
      @include button-xl;
      @include button-pink-shiny;
      @include border-radius(8px);
      margin: 0;
      .phone-text {
        font-family: $roboto-condensed; 
        font-weight: 400;
        &:after {
          content: ': ';
        }
      }
      .phone-number {
        font-family: $roboto-slab; 
        font-weight: 400; 
      }
      br {
        display: none;
      }
    }
  }
  @media all and (max-width: $mobile) {
    display: block;
    br {
      display: block;
    }
  }
}