// <div class="hero-text-block">
//   <div class="hero-text-block-heading"><h2></h2></div>
//   <div class="hero-text-block-body"><p></p></div>
// </div>

.hero-text-block {
   @extend %float-clear;
   @media all and (max-width: $desktop-lg) {
    margin: 0 -10px;
   }
}

%hero-text-block-inner {
  float: left;
  width: 50%;
  @media all and (max-width: $desktop-lg) {
    padding: 0 10px;
  }
}

.hero-text-block-heading {
  @extend %hero-text-block-inner;
  h2 {
    @include remFallback(font-size, 3.25);
    font-weight: 300;
    line-height: 1.25;
    max-width: 500px;
  }
  @media all and (max-width: $desktop-lg) {
    width: (100%/3);
    h2  {
      @include remFallback(font-size, 2.25);
    }
  }
  @media all and (max-width: $tablet-lg) {
    width: 100%;
    h2  {
      max-width: none;
    }
  }
}

.hero-text-block-body {
  @extend %hero-text-block-inner;
  p {
    line-height: 1.5;
  }
  @media all and (max-width: $desktop-lg) {
    width: ((100%/3)* 2);
  }
  @media all and (max-width: $tablet-lg) {
    width: 100%;
    p {
      margin-top: 0;
    }
  }
}
