@mixin sidebar-moves-to-top {
  position: absolute;
  padding: 25px 10px 15px;
  top: 0;
  border-radius: 0;
  margin-top: 0;
  border-top: 0;
  background: $pink-white;
}

%sidebar-premier-block-base {
  @extend %stroked-block-rounded;
  @include float-clear;
  text-align: center;
  position: relative; 
  @media all and (max-width: $tablet) {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}

.sidebar-premier-block {
  @extend %sidebar-premier-block-base;
  @media all and (max-width: $desktop) {
    @include sidebar-moves-to-top;
    width: calc(100% - (80px * 2));
  }
  @media all and (max-width: $tablet) {
    width: calc(100% - (20px * 2));
  }
  .no-csscalc & {
    @media all and (max-width: $desktop) {
      @include sidebar-moves-to-top;
      width: 100%;
      margin-left: -80px;
      border-left: none;
      border-right: none;
    }
    @media all and (max-width: $tablet) {
      margin-left: -20px;
    }
  }
}

.sidebar-premier-block-ppc {
  @extend %sidebar-premier-block-base;
  margin-top: -70px;
  padding-bottom: 15px;
  @media all and (max-width: $tablet) {
    @include sidebar-moves-to-top;
    width: calc(100% - (20px * 2));
    margin-top: 0;
    padding-top: 10px;
  }
  @media all and (max-width: $mobile-lg) {
    @include border-bottom-left-radius(20px);
    @include border-bottom-right-radius(20px);
  }
  .no-csscalc & {
    @media all and (max-width: $tablet) {
      width: 100%;
      margin-left: -20px;
      border-left: none;
      border-right: none;
    }
    @media all and (max-width: $mobile-lg) {
      @include border-bottom-left-radius(20px);
      @include border-bottom-right-radius(20px);
    }
  }
}

.loc-premier {
  text-align: left;
}
