.quote-cube-cont {
  display: table;
  border-spacing: 10px;
  margin: -10px -10px 0;

  &:first-child {
    margin-top: 0;
    @media all and (max-width: $tablet-sm) {
      margin-top: -20px;
      & div:first-child {
        border: none;
      }
    }
  }
}

%quote-cube {
  display: table-cell;
  @extend %stroked-block-rounded;
  p  {
    @extend %rc300;
  }
}

.quote-cube-a {
  @extend %quote-cube;
  width: (100%/5)*3;
  div {
    @extend %faux-blockquote-blue-2;
  }
}

.quote-cube-b {
  @extend %quote-cube;
  width: (100%/5)*2;
  div {
    @extend %faux-blockquote-pink;
  }
}

%quote-cube {
  @media all and (max-width: $tablet-sm) {
    width: 100%;
    display: block;
    border: none;
    border-radius: 0;
    border-top: $divider-border;
    div {
      @include getSprite($common-icons, quote-blue-1);
      @include blockquote-pseudo;
      padding: $blockquote-padding;
    }
  }
}

.quote-cube-name {
  font-style: italic;
  display: block;
}