// <div class="media-block">
//   <div class="media-block-image-left"><img></div>
//   <div class="media-block-text"><p></p></div>
// </div>


%media-block,
.media-block {
  @include box-sizing(border-box);
  @include float-clear;
}
.media-block-margin-small {
  @extend %media-block;
  @extend %box-margin-small;
}

%media-block-text,
.media-block-text { 
  overflow: hidden;
  p {
    margin: 0;
  }
}

%media-block-image-left,
.media-block-image-left {
  display: block;
  float: left;
  margin-right: ($margin/2);
}
%media-block-image-right,
.media-block-image-right {
  display: block;
  float: right;
  margin-left: ($margin/2);
}

// map
.media-block-map {
  @extend %media-block;
  border-top: $divider-border;
}

.media-block-text-map {
  @extend %media-block-text;
  @extend %box-margin;
  @extend %float-clear;
  h3:first-child {
    margin-top: 0;
  }
}

.media-block-image-map {
  @extend %media-block-image-left;
  @extend %box-margin;
  margin-right: $margin;
  @media all and (max-width: $desktop-lg) {
    float: none;
    margin-right: 0;
  }
  @media all and (max-width: $desktop) {
    float: left;
    margin-right: $margin;
  }
  @media all and (max-width: 800px) {
    float: none;
    margin-right: 0;
  }
}

.media-block-inline{
  @extend %media-block;
  margin: ($margin/2) 0; 
  h1, h2, h3, h4, h5, h6{
    display: inline-block; 
    margin: 0; 
  }
}

.media-block-text-inline{ 
  @extend %media-block-text; 
  display: inline; 
  p{
   margin: ($margin/2) 0;
  }
}

.media-block-image-right-inline{
  display: inline;
  float: right;
  margin-left: ($margin/2);
  margin-bottom: ($margin/2);
}