.double-image-block {
  @extend %float-clear;
  margin-left: (-$margin);
  margin-right: (-$margin);
  img {
    max-width: 100%;
    display: block;
  }
  .half {
    padding: 0 $margin;
  }
}

@media all and (max-width: $mobile) {
  .double-image-block {
    img {
      margin-bottom: $margin;
    }
    .half {
      width: 100%;
    }
  }
}